<head>
    <title>Cadastro Completo de Exemplar</title>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <h1>Cadastro de Exemplar</h1>

    <form th:action="@{/salvar}" th:object="${exemplar}" method="post">
        
        <div class="grupo-campos">
            <span class="titulo-grupo">Identificação Única</span>
            <label>Código (ID):</label>
            <input type="text" th:field="*{cod}" placeholder="Ex: A-0001" required>
        </div>
        
        <button type="submit" class="btn-salvar">Salvar Exemplar</button>
        <a href="/" class="btn-cancelar">Cancelar</a>

    </form>
</body>