<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Novo Cadastro')}"></head>
<body>

    <div th:replace="~{fragments :: page-header('📝 Novo Exemplar', 'Cadastro Limpo', '#3498db')}"></div>

    <form th:action="@{/salvar}" th:object="${exemplar}" method="post">

        <div class="grupo-campos">
            <span class="titulo-grupo">Identificação Única</span>
            <div class="grid-form">
                <div class="form-item">
                    <label>Código (ID):</label>
                    <input type="text" th:field="*{cod}" placeholder="Ex: A-0001" required>
                </div>
            </div>
        </div>

        <div th:each="grupo : ${camposHelper.camposAgrupados}" class="grupo-campos">
            <span class="titulo-grupo" th:text="${grupo.key}">Taxonomia</span>
            <div class="grid-form">
                
                <div th:each="campo : ${grupo.value}" class="form-item">
                    <label th:text="${campo.value} + ':'">Label:</label>
                    <input type="text" th:field="*{__${campo.key}__}">
                </div>
                
            </div>
        </div>

        <div style="margin-bottom: 40px; display: flex; align-items: center; justify-content: space-between;">
            <a href="/" class="btn btn-cancelar">Cancelar</a>
            <button type="submit" class="btn btn-salvar">Salvar Novo</button>
        </div>

    </form>
</body>
</html>